/* global styles */


body {
  background: #000;
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 12px;
  color: $white;
  padding: 0;
  margin: 0;
}

div {
	padding: 0;
	margin: 0;
}

a {
	color: $grayCopy;
}

a.hover {
	color: $white;
}

.clear {
	clear: both;
}

img {
	border: none;
}

.container {
	background: #181818;
	width: 100%;
	min-width: 1020px;
	margin: 0 auto;
}





/* top nav */

.top-panel {
	width: 100%;
	min-width: 1020px;
}

.topnav-container {
	background: $gray;	
	height: 25px;
	padding: 8px 20px;
	margin: 0;
	border-bottom: 1px solid #000;
}

.topnav {
	text-decoration: none;
	height: 20px;
	line-height: 25px;
	margin: auto 15px;
	float: left;
}

.title {
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	color: $spotifyGreen;
	margin: auto 15px auto 0;
	float: left;
}

.topnav:hover {
	color: $white;
}

input {
	text-align: left;
	background-color: $white;
	margin: 20px 0 10px 0;
	border-radius: 10px;
}

.topnav img {
	vertical-align: middle;
}

.topnav-left {
	float: left;
}

.topnav-right {
	float: right;
}





/* side nav */

.sidepanel {
	background: $gray;
	float: left;
	width: 20%;
	min-height: 600px;
	min-width: 204px;
	max-width: 280px;
}

.sidenav-container {
	
	
	font-size: 12px;
	overflow: auto;
}

.sidenav-container h3 {
	font-weight: normal;
	font-size: 12px;
	color: $grayCopy;
	padding: 17px 0 5px 15px;
	margin: 0;
}

.sidenav-container h3:first-child {
	padding: 12px 0 5px 15px;
	margin: 0;
}

.sidenav {
	display: block;
	text-decoration: none;
	color: $grayCopy;
}

.sidenav:hover {
	color: $white;
}

.sidenav .icon {
	display: inline-block;
	width: 27px;
	height: 18px;
	margin-left: 8px; 
}

.sidenav .icon img {
	vertical-align: middle; 
}

.sidenav .label {
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 18px;
}

.sidenav .selected {
	display: inline-block;	
	background: $gray;
	width: 4px;
	height: 32px;
	vertical-align: middle;
}

.new-playlist {
	background: $gray;
	height: 27px;
	border-top: 1px solid #000;
	padding: 10px;
}

.new-playlist a {
	display: inline-block;
	text-decoration: none;
	color: $grayCopy;
	line-height: 18px;
	margin: 0;
}

.new-playlist a:hover {
	color:$white;
}

.new-playlist a div {
	display: inline-block;
	width: 38px;
	height: 18px;
}

.new-playlist img {
	vertical-align: middle; 
}

.now-playing {
	background: $gray;
	overflow: hidden;
	border-top: 1px solid #000;
}

.now-playing .captions {
	padding: 5px 0 5px 10px;
}

.now-playing .album-image {
	margin: 10px 0 0 10px;
}

.now-playing a {
	text-decoration: none;
}

.now-playing a:hover {
	text-decoration: underline;
	color: $white;
}






/* control panel */

.control-panel {
	background: $gray;
	border-top: 1px solid #000;
	width: 100%;
	min-width: 1020px;
}

.controls-container {
	width: 1000px;
	height: 34px;
	padding: 7px 7px;
	margin: 0 auto;
}

.controls {
	text-decoration: none;
	height: 24px;
	line-height: 24px;
	margin: auto 8px;
}

.controls img {
	vertical-align: middle;
}

.progressbar {
	display: inline-block;
	width: 620px;
	margin-left: 30px;
}

.progressbar .time, .progressbar .duration {
	display: inline-block;
	width: 36px;
}

.progressbar .duration {
	margin-left: 10px;
}

.progressbar .scrubber {
	display: inline-block;
	background-color: $sliderColor;
	width: 520px;
	height: 5px;
	border-radius: 2px;
}

.volume-slider {
	display: inline-block;
	background-color: $sliderColor;
	width: 80px;
	height: 5px;
	border-radius: 2px;
}
